<div class="contextual">
  <%%= link_to t('Update'), edit_admin_<%= singular_name %>_path(@<%= singular_name %>), :accesskey => "e", :class => "icon icon-edit", :onclick => "showAndScrollTo('update','focus'); return false;"%>
</div>

<h2><%%= "#{<%= class_name %>.human_name} ##{@<%= singular_name %>.id}" %></h2>

<div class="issue details">
	<%%= render :partial => 'show' , :locals => {:<%= singular_name %> => @<%= singular_name %>} %>
</div>

<!-- More List View -->

<div id="update">
  <h3><%%= t('Update') %></h3>
  <div id="focus"></div>
  <%%= render :partial => 'edit' , :locals => {:<%= singular_name %> => @<%= singular_name %>} %>
</div>
<div style="clear: both;"></div>
    
<%% content_for :sidebar do %>
  <h3>Actions</h3>
  <%%= link_to "#{t('Back_to')} #{<%= class_name %>.human_name}", admin_<%= plural_name %>_path %>
<%% end %>