<div class="contextual"></div>

<h2><%%= <%= class_name %>.human_name %></h2>

<!-- Redmine Filters-->
<%%= filters %>

<div class="autoscroll">
  <%%= render :partial => 'list', :locals => {:<%= plural_name %> => @<%= plural_name %>} %>
</div>

<!-- TODO Export-->
<p class="other-formats"><%%= t('Also_available_in') %>:
	<span><%%= link_to 'CSV',  admin_<%= plural_name %>_path(:format => :csv),  :class => 'csv' %></span>
	<span><%%= link_to 'XLS',  admin_<%= plural_name %>_path(:format => :xls),  :class => 'xls' %></span>	
	<span><%%= link_to 'PDF',  admin_<%= plural_name %>_path(:format => :pdf),  :class => 'pdf' %></span>
</p>
<div style="clear:both;"></div>
    
<%% content_for :sidebar do %>
  <h3>Actions</h3>
<%% end %>