<table width="100%">
<tbody>
	<tr>
		<td colspan="2"><br/><h3><%%=<%=class_name%>.human_name %></h3></td>
	</tr>
<% if options[:authenticated] -%>
	<tr>
	  <td><b><%= 'Login' %></b></td>
	  <td><%%= f.text_field :login %></td>
	</tr>
	<tr>
	  <td><b><%= 'Name' %></b></td>
	  <td><%%= f.text_field :name %></td>
	</tr>
	<tr>
	  <td><b><%= 'Email' %></b></td>
	  <td><%%= f.text_field :email %></td>
	</tr>
	<tr>
	  <td><b><%= 'Password' %></b></td>
	  <td><%%= f.password_field :password %></td>
	</tr>
	<tr>
	  <td><b><%= 'Password Confirmation' %></b></td>
	  <td><%%= f.password_field :password_confirmation %></td>
	</tr>
<% end -%>
<% for attribute in attributes -%>
	<tr>
	  <td><b><%%= <%= class_name %>.human_attribute_name(:<%=attribute.name%>) %></b></td>
	  <td><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></td>
	</tr>
<% end -%>
</tbody>
</table>