<table class="list issues">
	<thead>
		<tr>
      <!-- <th><%%#= link_to image_tag('toggle_check.png', :alt => "Toggle_check"), admin_<%= plural_name %>_path, :onclick => "toggleIssuesSelection(Element.up(this, &quot;form&quot;)); return false;", :title => "Check all/Uncheck all" %></th> -->
      <th title="Sort by &quot;#&quot;"><%%= sort_link_helper t('ID'), '<%=singular_name%>', 'id' %></th>
<% if options[:admin_authenticated] || options[:authenticated] -%>
      <th title="Sort by &quot;Login&quot;"><%%= sort_link_helper <%= class_name %>.human_attribute_name(:login), '<%=singular_name%>', 'login' %></th>
	    <th title="Sort by &quot;Name&quot;"><%%= sort_link_helper <%= class_name %>.human_attribute_name(:name), '<%=singular_name%>', 'name' %></th>
	    <th title="Sort by &quot;Email&quot;"><%%= sort_link_helper <%= class_name %>.human_attribute_name(:email), '<%=singular_name%>', 'email' %></th>
	    <th title="Sort by &quot;Created At&quot;"><%%= sort_link_helper <%= class_name %>.human_attribute_name(:created_at), '<%=singular_name%>', 'created_at' %></th>
<% end -%>
<% for attribute in attributes -%>
      <th title="Sort by &quot;<%= attribute.name.humanize %>&quot;"><%%= sort_link_helper <%= class_name %>.human_attribute_name(:<%= attribute.name %>), '<%=singular_name%>', '<%= attribute.name %>' %></th>
<% end -%>
      <!-- More Sort Link Helper -->
		</tr>
	</thead>
	<tbody>
	<%% unless <%= plural_name %>.empty? %>
		<%% for <%= singular_name %> in <%= plural_name %> %>		
		<tr id="<%% dom_id(<%=singular_name%>)%>" class="hascontextmenu <%%= cycle 'odd' , 'even' %> issue">
      <!-- <td class="checkbox"><input name="ids[]" type="checkbox" value="<%%#= <%=singular_name%>.id %>" /></td> -->
      <td onclick="link_to(<%%= "'#{admin_<%=singular_name%>_path(<%=singular_name%>)}'" %>);"><%%= link_to <%= singular_name %>.id, [:admin, <%= singular_name %>]%></td>
<% if options[:admin_authenticated] || options[:authenticated] -%>
      <td onclick="link_to(<%%= "'#{admin_<%=singular_name%>_path(<%=singular_name%>)}'" %>);" class="login"><%%=h <%= singular_name %>.login %></td>
      <td onclick="link_to(<%%= "'#{admin_<%=singular_name%>_path(<%=singular_name%>)}'" %>);" class="name"><%%=h <%= singular_name %>.name %></td>
      <td onclick="link_to(<%%= "'#{admin_<%=singular_name%>_path(<%=singular_name%>)}'" %>);" class="email"><%%=h <%= singular_name %>.email %></td>
      <td onclick="link_to(<%%= "'#{admin_<%=singular_name%>_path(<%=singular_name%>)}'" %>);" class="created_at"><%%=h <%= singular_name %>.created_at %></td>
<% end -%>
<% for attribute in attributes -%>
      <td onclick="link_to(<%%= "'#{admin_<%=singular_name%>_path(<%=singular_name%>)}'" %>);" class="<%= attribute.name %>"><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
      <!-- More Fields -->
    </tr>		  
		<%% end %>
	<%% else -%>
		<tr class="datos"> 
		  <td colspan="100" align="center"><%%=t :no_data_available%></td> 
		</tr> 
	<%% end -%>	
  </tbody>
</table>